fastapi
uvicorn
sqlalchemy
pymysql
cryptography
pydantic
feedparser
requests
beautifulsoup4
nltk
rapidfuzz
python-multipart
loguru
python-dotenv
alembic
sentence-transformers
torch
python-dateutil
pytz
APScheduler
openpyxl
python-docx
PyJWT
bcrypt
prophet